

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor1: #fde5e5;
    --cor2: #f977777d;
}

* {

    margin: 0px;
    padding: 0px;
    
}

.cabeça {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    font-size: 50px;
    font-family: Poppins;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.204);

    
    
}

.menu {
    
    text-align: center;
    font-size: 12px;
    background-color:aliceblue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.204);
    
}

body {

    width: 100%;
    max-width: 800px;
    min-width: 320px;
    font-family: Poppins;
    line-height: 1.5;
    font-size: 16px;
    margin:auto;
    background-color:aliceblue;
    

}

main {

    background-color: var(--cor2) ;
    padding: 5px 40px;
    margin-top: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.204);
    margin: auto;
    margin-top: 35px;
    
    
}

#olá {

    margin-top: 30px;
}



.nome {

    font-family: Poppins, Black900;
    font-size: 35px;
    margin-top: 15px;
}

hr {
    color: black;
    margin-top: 20px;
}

.aluna {
    text-align: center;
    
}

.aluna img {
    width: 25%;
    border-radius: 1000px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
}

.nome {
    text-align: center;
}

#funções {
    text-align: center;
}

.texto {
    text-justify: auto;
    margin-top: 30px;
}

.footer-main {
    width: 50%;
    margin-top: 3rem;
    display: flex;
    margin-bottom: 3rem;   
    margin: 50px 70px;
}

.footer-main a {
    text-decoration: none;
    color: black;
    padding: 1rem 4rem;
    border: 1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.156);

}

a:hover {
    background-color: #fde5e5;
}

#footer-frase {
    font-size: 11px;
    text-align: center;
}

