@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');


:root {
    --cor1: #ffffff;
    --cor2: #033E66;
    --cor3: #ffffff;
    --cor4: #003B3A;
    --cor5: #000000;
    --cor6: #022F4D;

}

* {

    margin: 0px;
    padding: 0px;
    
}

body {

    width: 50%;
    max-width: 800px;
    min-width: 340px;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    background-color: var(--cor2);
    margin: auto;
    font-size: 16px;
    
}

main {

    background: var(--cor1);
    padding: 5px 40px;
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.204);
}

h1 {

    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: var(--cor5);
    margin-top: 5%;
}

.mini-titulo {

    text-align: center;
    font-family: 'Poppins';
    color: var(--cor5);
    text-shadow: none;
    margin-bottom: 5%;
    font-size: 15px;

}

#inome, #icontato, #iemail {

    height: 15px;
    width: 200px;
    margin: 5px;

}

#imsg {

   height: 15px;
   width: 200px;
   margin: 5px;
   margin-bottom: 15px;
   min-width: 40px;
   max-width: 800px;
   display: flex;
   
}



#send {

    width: 40%;
   
}

.voltar {

    margin: auto;
}


.voltar-botao a {

    text-decoration: none;
    color: black;
    padding: 20px 60px;
    border: 1px solid var(--cor5);
    min-width: 20px;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.156);
    
}

.voltar {

    margin: auto;
}


.voltar-botao a {

    text-decoration: none;
    color: black;
    padding: 20px 60px;
    width: 5%;
    
    border: 1px solid var(--cor5);
    margin: auto;
    min-width: 20px;
    max-width: 50%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.156);
    

}

.voltar-botao img {
    
    width: 25px;

}

a:hover {

    background-color: var(--cor2);
    
}


#form-footer {

    font-size: 11px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
    color: var(--cor1);
    font-family: 'Bebas Neue';
    letter-spacing: 0.2px;
    
}

.voltar-botao img {
    
    width: 25px;

}

a:hover {

    background-color: var(--cor2);
    
}


#form-footer {
    font-size: 11px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
    color: var(--cor1);
    font-family: 'Bebas Neue';
    letter-spacing: 0.2px;
}
