
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');


body {

    width: 90%;
    max-width: 800px;
    min-width: 340px;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    background-color: #fde5e5;
    margin: auto;
    font-size: 16px;
    
}

main {

    background: #f977777d;
    padding: 5px 40px;
    margin-top: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.204);
}

#h1p {

    border-width: 10%;
    text-align: center;


}

#form-footer {
    font-size: 11px;
    text-align: center;
    margin-top: 100%;
}