body {
    width: 90%;
    max-width: 800px;

    font-family:'Segoe UI';
    line-height: 1.5;
    background: #FFC0CB;
    margin: 30px;
    

}

main {

    background: #f977777d;
    padding: 5px 40px;
    margin-top: 30px;
    border-radius: 30px;
}

hr {
    color: black;
}

.aluna {
    text-align: center;
    
}

.aluna img {
    width: 25%;
    border-radius: 1000px;
}

.nome {
    text-align: center;
}

#funções {
    text-align: center;
}