body {
    width: 90%;
    max-width: 800px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background: #FFC0CB;
    margin: auto;
    

}

main {

    background: #f977777d;
    padding: 5px 40px;
    margin-top: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
}

hr {
    color: black;
}

.aluna {
    text-align: center;
    
}

.aluna img {
    width: 25%;
    border-radius: 1000px;
    margin-top: 20px;
}

.nome {
    text-align: center;
}

#funções {
    text-align: center;
}

.texto {
    text-justify: auto;
}

.footer-main {
    width: 50%;
    margin-top: 3rem;
    display: flex;
    margin-bottom: 3rem;
}

.footer-main a {
    text-decoration: none;
    color: black;
    padding: 1rem 4rem;
    border: 1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
}
